<% provide(:title, 'Home') %>
<%= stylesheet_link_tag 'home', :media => 'screen' %>

<!DOCTYPE html>
<html class="full" lang="en">

<head>
</head>

<body>
<div class="jumbotron">
        <h1>Sports and Stuff</h1>
        <p class="lead">The <em>only</em> place to talk about sports.</p>
        <%= link_to "Sign Up", signup_path, :class => "btn btn-large btn-success" %>
        <%= link_to "Sign In", signin_path, :class => "btn btn-large btn-success" %>
      </div>

</body>

</html>

