.navbar-default {
  background-color: #4bb750;
  border-color: #3d7d3f;
}
.navbar-default .navbar-brand {
  color: #f1f5f5;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #bec9c4;
}
.navbar-default .navbar-text {
  color: #f1f5f5;
}
.navbar-default .navbar-nav > li > a {
  color: #f1f5f5;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #bec9c4;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #bec9c4;
  background-color: #3d7d3f;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #bec9c4;
  background-color: #3d7d3f;
}
.navbar-default .navbar-toggle {
  border-color: #3d7d3f;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #3d7d3f;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f1f5f5;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f1f5f5;
}
.navbar-default .navbar-link {
  color: #f1f5f5;
}
.navbar-default .navbar-link:hover {
  color: #bec9c4;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f1f5f5;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #bec9c4;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #bec9c4;
    background-color: #3d7d3f;
  }
}

footer {
  text-align:center
}
