.profile-thumbnail{
  margin-left: -15px;
  margin-right: -15px;
  padding: 0px;
}

.thumbnail{
  padding: 20px;
  border: 0px;
}

.card{
  min-height: 300px;
  max-height: 300px;
  overflow: scroll;
}


