<!-- Footer for website -->
<footer>
	<small>
		By Alex Koller
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", '#' %></li>
		</ul>
	</nav>
</footer>
