<!-- Header for website -->

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Sports and Stuff</a>
          <div class="nav-collapse collapse">
					
						<%= form_tag("/search", method: :get, class: "navbar-form pull-left") do %>
							<%= text_field_tag :q, nil, class: "search-query", placeholder: "Search"%>
						<% end %>

            <p class="navbar-text pull-right">
              <% if signed_in? %>
              <%= link_to "Sign Out", signout_path, method: :delete %>
              <% end %>
            </p>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
