<!-- Header for website -->
<nav class="navbar navbar-default navbar-static-top" role="navigation">
	<div class="navbar-header">
		<%= link_to "BRANDING", root_path, class: "navbar-brand" %>
	</div>
	<div>
		<ul class="nav navbar-nav pull-right">
			<li class=""><%= link_to "Home", root_path %></li>
			<li class=""><%= link_to "Help", help_path %></li>
			<li class=""><%= link_to "Sign In", '#' %></li>
		</ul>
	</div>
</nav>
